!!! 5
html
  head
    title Video Annotation Toolkit
    script(type='text/javascript', src='js/jquery-1.9.1.js')
    script(type='text/javascript', src='js/jquery-ui-1.10.3.custom.min.js')
    script(type='text/javascript', src='js/froogaloop.js')
    script(type='text/javascript', src='js/jquery.window.min.js')
    script(type='text/javascript', src='js/jquery.tmpl.js')
    script(type='text/javascript', src='js/popcorn.js')
    script(type='text/javascript', src='js/popcorn._MediaElementProto.js')
    script(type='text/javascript', src='js/popcorn.HTMLVimeoVideoElement.js')
    script(type='text/javascript', src='js/popcorn.HTMLYouTubeVideoElement.js')

    
    link(rel='stylesheet', href='css/jquery.window.css', type='text/css')
    link(rel='stylesheet', href='css/jquery-ui-1.10.3.custom.css', type='text/css')
    link(rel='stylesheet', href='css/ui-lightness/jquery-ui-1.8.22.custom.css', type='text/css')
    link(rel='stylesheet', href='css/style.css', type='text/css')

    include includes/tmpl

  body.main
    #container
      include includes/header
      .main-video-section
        h2#video_title Select a video to start:
        button#showVideos(onclick='selectVideoDialog();') Select Media
        button#showVideos(onclick='addVideoDialog();') Add New Video
        .navigation
          a.prev(href='#', onclick='prevVideo()')  
          a.next(href='#', onclick='nextVideoDialog()')
        .main-video-container
          #iframe-container
          ul.ralated-video-list
          #edit-controls(style='display: none;')
            button.zoom zoom
            .stat-bar.stat-common
              .stat(type='text')
            button.sm-button.back-30(type='button', onclick='forwardRewind(-30); return false;')
              30s
            button.sm-button.back-10(type='button', onclick='forwardRewind(-10); return false;')
              10s
            button.sm-button.back-1(type='button', onclick='forwardRewind(-1); return false;')
              1s
            button.md-button(type='button', onclick='create_event(); return false;') create event
            button.sm-button.forward-1(type='button', onclick='forwardRewind(1); return false;') 1s
            button.sm-button.forward-10(type='button', onclick='forwardRewind(10); return false;') 10s
            button.sm-button.forward-30(type='button', onclick='forwardRewind(30); return false;') 30s
            .create-controls
              button.md-button(type='button', onclick='saveEvent();return false;') save
              button.md-button(type='button', onclick='$(\'.create-controls\').slideToggle(); return false;') discard
              label start time:
              input#start-time.time(title='starttime', type='text')
              button.sm-button(type='button', onclick='captureTime(\'#start-time\'); return false;', label='capture time') set in
              label end time:
              input#end-time.time(type='text')
              button.sm-button(type='button', onclick='captureTime(\'#end-time\'); return false;', label='capture time') set out
              br
              br
              label categories:
              input.cat-checkbox(type='checkbox', name='category', value='robot')
              | Robots
              input.cat-checkbox(type='checkbox', name='category', value='institution')
              | Institutions
              input.cat-checkbox(type='checkbox', name='category', value='people')
              | People
              br
              br
              label tags:
              input#tags(type='text')
              br
              br
              input#event-type(type='hidden', value='transcript')
              #event-tabs
                ul
                  li
                    a(href='#comment-tab') Comment
                  li
                    a(href='#bookmark-tab') Bookmark
                  li
                    a(href='#transcript-tab') Transcript
                  li
                    a(href='#link-tab') Link
                #comment-tab
                                                    
                  label comment:
                  br
                  textarea#text-comments.tab-text
                #bookmark-tab
                  label bookmark note:
                  br
                  textarea#text-bookmark.tab-text
                #transcript-tab
                  label transcript text:
                  br
                  textarea#text-transcript.tab-text
                #link-tab
                  .form-box
                    label Link to media:
                    br
                    ul#link-select
                  .form-box
                    label Relevance:
                    span#relevance-value 100%
                    br
                    #relevance-slider
                    br
                    label Entry point (seconds):
                    br
                    input#entry-point(type='text')
                  .form-box
                    label link information:
                    br
                    textarea#text-link.tab-text
          .transcript-section
            //
              The <a href="#" onclick="openSearchResults();">transcript</a> of the current section of the video with some keywords <a href="#" onclick="openSearchResults();">highlighted</a>. Clicking on the words brings videos that are most relevant to that word.
          #video_selection.modal_box(style='display: none;')
            h3 Available Media:
            ul
          #add_video.modal_box.form(style='display: none;')
            h3 Add New Media:
            form(id="add_video_form", method="POST", action="/addVideo")
              div.success_message(style='display:none') Media was added successfully!
              div
                label(for='title') Title:
                input#title(type='text', name='title')
              div
                label(for='url') URL:
                input#url(type='text', name='url')
              div
                label(for='thumbnail') Thumbnail URL:
                input#thumbnail(type='text', name='thumbnail')
              div
                label(for='type') Media Type:
                select(name='type')
                  option(value='hosted_video') HTML5 Video
                  option(value='youtybe') Youtube
                  option(value='vimeo') Vimeo
                  option(value='hosted_audio') HTML5 Audio
                  option(value='soundcloud') Soundcloud
                    
              div  
                input.login-submit(type="submit", value="Add")
    script(type='text/javascript', src='js/oral-history.js')
