<!DOCTYPE html>
<html>
<head>
	<title>Video Hyper-Links prototype 2</title>
		
	<script type="text/javascript" src="js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>
	<script type="text/javascript" src="js/froogaloop.js"></script>
	<script type="text/javascript" src="js/jquery.window.min.js"></script>

	<script type="text/javascript" src="js/jquery.tmpl.js"></script>
	
	<script type="text/javascript" src="js/popcorn.js"></script>
	<script type="text/javascript" src="js/popcorn._MediaElementProto.js"></script>
	<script type="text/javascript" src="js/popcorn.HTMLVimeoVideoElement.js"></script>

	<!--<script type="text/javascript" src="js/data.js"></script> --> <!-- to be replaced by data driven data-->
	
	
	<script id="related_video_list_item_template" type="text/x-jquery-tmpl">
			<li class="related_list_item" id="video_${rel_video_id}"  >
			<a href="#" onclick="openVideo('${rel_video_id}',${seek_point})">
				<span class="prim-info">
					<img class='rel-thumb' src='${thumbnail}'>					
					<span class="rel-title">${title}</span>
				</span>
				<span class="sec-info">
					 Some highlight of the transcript or word cloud of the related video or keywords which both videos share
				</span>
				<span class="rel-rel">${relatedness_percent}%</span>					
				<span class="rel_bar" style="width: 0;"></span>
			</a>
		</li>	
	</script>


	<script id="video_box_template" type="text/x-jquery-tmpl">
		<div id="video-box" style="display: none;">
				<h2 style="width: 200px;">${title}</h2>
				<div class="main-video-container">
					<video width="600" height="400" controls="controls">
						 <source src="${url}" type="video/mp4">
					</video>
				</div>
				<a href="#" class="reg-link right-btn">open this video in main window</a>
				<a href="#" class="reg-link right-btn">open this video in a new tab</a>
		
		</div>
	</script>

	<script id="event_tooltip_template" type="text/x-jquery-tmpl">
		<div class='event_tooltip_cont' class="tooltip_${related_objects[0]._type}">
		    <div>timestamp: ${toMinAndSec(timestamp)}</div> 
		    <div>duration: ${Math.round(duration)}</div> 
		    <div>type: ${related_objects[0]._type}</div>
		    <div>${related_objects[0].text}</div>
		
		</div>
	</script>

	<script id="video_selection_item_template" type="text/x-jquery-tmpl">
			<li id="video_${_id}"  >
			<a href="#" onclick="selectVideo('${_id}')">
				<span class="prim-info">
					<img class='rel-thumb' src='${thumbnail}'>					
					<span class="rel-title">${title}</span>
				</span>
			</a>
		</li>	
	</script>

	
	<link rel="stylesheet" href="css/jquery.window.css" type="text/css">

	<link rel="stylesheet" href="css/jquery-ui-1.10.3.custom.css" type="text/css">
	<link rel="stylesheet" href="css/ui-lightness/jquery-ui-1.8.22.custom.css" type="text/css">

	<link rel="stylesheet" href="css/style.css" type="text/css">
	
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->
	

	
	<style type="text/css">

	
	</style>
	<script type="text/javascript">
	
	
	


	</script>
</head>
<body>
	<div id="container">
	    <div id="header">
    	    <h1 class="page-title">ORAL HISTORY OF ROBOTICS</h1>
    	    <div class="neh-logos">
    	        <!--Sponsored by:-->
    	        <img class="neh" src="images/neh_logo.jpg" title="National Endowment for Humanities">
    	       <!-- <img class="odh" src="images/odh.gif" title="National Endowment for Humanities ODH">-->
    	    </div>
        </div>    	    
		<div class="main-video-section">
			<h2 id="video_title">Select a video to start:</h2>
			<button id="showVideos" onclick="selectVideoDialog();" >Select another Video</button>
			<div class="navigation"><a class="prev" href="#" onclick="prevVideo()"> < </a>
									<a class="next" href="#" onclick="nextVideo()"> > </a>
			</div>
			<div class="main-video-container">
				<div id="iframe-container">
				   
				</div>
                <ul class="ralated-video-list">


        
                </ul>
                <div id="edit-controls" style="display: none;">
                    <button class='zoom'>zoom</button>
                    <div class="stat-bar stat-common">
                            <div type="text" class="stat"></div>
                    </div>
                    <!--<div class="big-stat-bar stat-common"></div>-->
                    <button type="button" class="sm-button back-30" onclick="forwardRewind(-30); return false;"><30s</button>
                    <button type="button" class="sm-button back-10" onclick="forwardRewind(-10); return false;"><10s</button>
                    <button type="button" class="sm-button back-1" onclick="forwardRewind(-1); return false;"><1s</button>

                    <button type="button" class="md-button" onclick="create_event(); return false;">create event</button>
                    
                    <button type="button" class="sm-button forward-1" onclick="forwardRewind(1); return false;">1s></button>
                    <button type="button" class="sm-button forward-10" onclick="forwardRewind(10); return false;">10s></button>
                    <button type="button" class="sm-button forward-30" onclick="forwardRewind(30); return false;">30s></button>
                    
                    <div class="create-controls">
                        <button type="button" class="md-button" onclick="saveEvent();return false;">save</button>    
                        <button type="button" class="md-button" onclick="$('.create-controls').slideToggle(); return false;">discard</button>    
                        
                        <label>start time:</label><input  title="starttime" type="text" id="start-time" class="time"/><button type="button" class="sm-button" onclick="captureTime('#start-time'); return false;" label="capture time">set in</button>
                        <label>end time:</label><input type="text" id="end-time" class="time"/><button type="button" class="sm-button" onclick="captureTime('#end-time'); return false;" label="capture time">set out</button>
                        <br/><br/>
                        <label>categories:</label>
                        <input type="checkbox" name="category" value="robot">Robots</input>
                        <input type="checkbox" name="category" value="institution">Institutions</input>
                        <input type="checkbox" name="category" value="people">People</input>
                        <br/><br/>
                        <label>tags:</label><input type="text" id="tags"/>
                        <br/><br/>

                        <input type="hidden" id="event-type" value="transcript"/>    
                    

                        <div id="event-tabs">
                             <ul>
                                <li><a href="#comment-tab">Comment</a></li>
                                <li><a href="#bookmark-tab">Bookmark</a></li>
                                <li><a href="#transcript-tab">Transcript</a></li>
                                <li><a href="#link-tab">Link</a></li>
                            </ul>
                            <div id="comment-tab">
                                <!--
                                <label>type:</label>
                                <select id="event-type"/>
                                    <option value="comment">comment</option>
                                    <option value="comment">bookmark</option>
                                    <option value="transcript">transcript</option>
                                    <option value="link">link</option>
                                </select>
                                -->
                                <label>comment:</label><br/>
                                <textarea id="text-comments" class="tab-text"></textarea>                       
                            </div>
                            <div id="bookmark-tab">
                                <label>bookmark note:</label><br/>
                                <textarea id="text-bookmark" class="tab-text"></textarea>                       
                            </div>
                            <div id="transcript-tab">
                                <label>transcript text:</label><br/>
                                <textarea id="text-transcript" class="tab-text"></textarea>                       
                            </div>
                            <div id="link-tab">
                                <div class="form-box">
                                    <label>Link to media:</label><br/>
                                    <ul id="link-select">
                                </div>
                                </ul>
                                <div class="form-box">
                                    <label>Relevance:</label> <span id="relevance-value">100%</span><br/>
                                    <div id="relevance-slider"></div>
                                    <br/>
                                    <label>Entry point (seconds):</label><br/>
                                    <input type="text" id="entry-point"></input>
                                </div>                                
                                <div class="form-box">
                                    <label>link information:</label><br/>
                                    <textarea id="text-link" class="tab-text"></textarea> 
                                </div>


                            </div>
                        </div>
                        
                            

                    </div>
    			</div>
                <div class="transcript-section">
                    
                    <!--The <a href="#" onclick="openSearchResults();">transcript</a> of the current section of the video with some keywords <a href="#" onclick="openSearchResults();">highlighted</a>. Clicking on the words brings videos that are most relevant to that word.-->
                </div>
                
                <div id="video_selection" style="display: none;">
                    <h3>Available Media:</h3>

                    <ul>
                    
                    </ul>
                </div>
    		</div>
		</div>
	</div>
	
	<script type="text/javascript" src="js/oral-history.js"></script>

	


</body>
	
