doctype 5
html
  head
    title Video Annotation Toolkit \- Sign in
    script(type='text/javascript', src='js/jquery-1.9.1.js')
    script(type='text/javascript', src='js/jquery-ui-1.10.3.custom.min.js')

    link(rel='stylesheet', href='css/jquery-ui-1.10.3.custom.css', type='text/css')
    link(rel='stylesheet', href='css/ui-lightness/jquery-ui-1.8.22.custom.css', type='text/css')
    link(rel='stylesheet', href='css/style.css', type='text/css')

    include includes/tmpl


  body.login
    #container.form
      include includes/header
      form(action='/login', method='post')
             div
                label Username:
                input(type='text', name='username')
              div
                label Password:
                input(type='password', name='password')
              div
                input.login-submit(type='submit', value='Log In')

      a(href="/signup") Or, sign up

