!!! 5
html
  head
    title Video Annotation Toolkit \- Sign up
    script(type='text/javascript', src='js/jquery-1.9.1.js')
    script(type='text/javascript', src='js/jquery-ui-1.10.3.custom.min.js')

    link(rel='stylesheet', href='css/jquery-ui-1.10.3.custom.css', type='text/css')
    link(rel='stylesheet', href='css/ui-lightness/jquery-ui-1.8.22.custom.css', type='text/css')
    link(rel='stylesheet', href='css/style.css', type='text/css')

    include includes/tmpl

  body.login
    #container.form
      include includes/header
      form(id="singup", method="POST", action="/signup")
        div
          label(for='name') Name:
          input#name(type='text', name='name')
        div
          label(for='email') Email:
          input#email(type='text', name='email')
        div
          label(for='username') Username:
          input#username(type='text', name='username')
        div
          label(for='password') Password:
          input#password(type='password', name='password')
        div  
          input.login-submit(type="submit", value="Sign up")

